@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #dc26262f;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #dc2626 !important;
    border-radius: 100vh;
    border: 3px solid #dc2626 !important;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #dc2626 !important;
  }
} */

.swiper-button-prev,
.swiper-button-next {
  color: #f37a1f;
}

.swiper-button-disabled > .swiper-button-prev {
  visibility: hidden;
}
.swiper-button-disabled > .swiper-button-next {
  visibility: hidden;
}
